body {
	background-color: black;
}

p {
	color: white;
}

h1 {
	color: white;
	font-family: 'Orbitron', sans-serif;
	font-size: 62px;
}

.containerBody {
	width: 85%;
	margin: 0 auto;
}

input {
	margin: 0 auto;
	width: 500px;

}

#chosen-word {
	color: #2EA700;
	font-family: 'Orbitron', sans-serif;
}

.main-container {
	background: black;
	width: 650px;
	padding: 30px 20px;
}

#lettersGuessed {
	color: #2EA700;
	font-family: 'Orbitron', sans-serif;
}

#guessesLeft {
	font-size: 100px;
	font-family: 'Orbitron', sans-serif;
	color: #2EA700;
}

.special {
	color: #2EA700;
}

.description {
	color: white;
}

.keyboard-keys {
	height: 50px;
}

#subject {
	font-size: 75px;
	margin-top: 100px;
	color: #2EA700;
	font-family: 'Orbitron', sans-serif;
}
#surrender { 
	display: inline;
  float: right;
}



.main-content {
	margin-bottom: 50px;
}
